@font-face {
    font-family: 'Pangram';
    src: url('/public/fonts/Pangram-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pangram';
    src: url('/public/fonts/Pangram-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Activegrotesk';
    src: url('/public/fonts/activegrotesk/AktivGrotesk-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2%;
  }

  /* @font-face {
    font-family: 'Activegrotesk';
    src: url('/public/fonts/activegrotesk/AktivGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  } */
  @font-face {
    font-family: 'Holiday';
    src: url('/src/assets/fonts/holiday/HolidayFree.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }